* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
@font-face{
  src: url(../fonts/OpenSans-Regular.woff) format("woff");
  font-family: "Open Sans";        
}
  
@font-face{
    src: url(../fonts/OpenSans-Bold.woff) format("woff");
    font-family: "Open Sans Bold";        
}
  
  
.header {
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #666666;

  margin-left: auto;
  margin-right: auto;
  /*max-width: 1600px;*/
  padding-top: 29px;
  padding-bottom: 145px;
    
  position: relative;  
  z-index: 0;   
}
  
@media (min-width: 641px) and (max-width: 1200px)
{ 
  .header {
  background-image: url(../images/banner-bg-tablet.jpg);
  }
}

@media (max-width: 640px)
{ 
  .header {
 background-image: url(../images/banner-mobile.jpg);
  }
}

  .header:after {    
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.45;
    z-index: -1;
  }
  
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center; 

  max-width: 1200px;

  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto; 
  margin-right: auto;
}
  
@media (min-width: 641px) and (max-width: 1200px){
  .header_container {
    width: 730px;
  }
}

@media (max-width: 640px) {
  .header_container {
    flex-direction: column-reverse;
  }
}

.logo_img {
  width: 179px;
}
  
@media (min-width: 641px) and (max-width: 1200px) { 
  .logo_img {
    width: 158px;
    }  
}

@media (max-width: 640px) {
  .logo {
    margin-top: 170px;
  }

  .navigation_menu {
    margin-left: auto;
  }
}

.list_menu {
  list-style: none;
    
  display: flex;
  flex-wrap: wrap;    
}

@media (max-width: 1200px) {
  .list_menu {
    display: none;
  }
}
  
.item_menu {
  margin-right: 20px;
}
  
.item_menu:last-child {
  margin-right: 0px;
}
  
.menu_link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  color: #ffffff;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  text-align: center;
}
  
  .name_blog {
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px;
    max-width: 679px;
   
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    font-size: 45px;
    text-transform: uppercase;
    font-family: Open Sans Bold, Arial, Helvetica, sans-serif;
    
  }
  
  @media (min-width: 641px) and (max-width: 1200px) {
    .name_blog {
      font-size: 40px;
    }
  }

  @media (max-width: 640px) {
    .name_blog {
      font-size: 24px;
      margin-top: 44px;
    }  
  }

  .content_container {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 63px;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (min-width: 641px) and (max-width: 1200px) {
    .content_container {
      margin-right: 34px;
      margin-left: 34px;      
    }
  }

  @media (max-width: 640px) {
    .content_container {
      flex-direction: column;
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .big_card_container {
    display: flex;
    flex-direction: column;
    max-width: 778px;
    margin-right: 120px;
  }
  
  @media (min-width: 641px) and (max-width: 1200px) {
    .big_card_container {
      margin-right: 34px;
    }
  }

  @media (max-width: 640px){
    .big_card_container {
      margin-left: 14px;
      margin-right: 14px;
    }
  }

  .preview_article {
   display: flex; 
   margin-bottom: 60px;  
  }

  @media (min-width: 641px) and (max-width: 1200px), (max-width: 640px) {
    .preview_article {
      flex-direction: column;
    }
  }
  
  .preview_article:last-child {
    margin-bottom: 0px;
  }
  
  .preview_article_img {
    margin-right: 30px;
  }

  @media (min-width: 641px) and (max-width: 1200px), (max-width: 640px) {
    .preview_article_img {
      margin-right: 0px;
    }
  }
  
  @media (max-width: 640px) {
    .preview_article_img {
      margin-bottom: 15px;
    }
  } 
  
  .big_img {
    max-width: 381px;
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    
    .big_img {
      width: 100%;
      max-width: none;
    }
  }
  
  @media (max-width: 640px) {
    .big_img {
      width: 100%;
    }
  }
  
  .menu_category_article {
      list-style: none;
    
      display: flex;
      flex-wrap: wrap;    
  }
  
  .item_article_menu {
    margin-right: 20px;
  }
  
  .item_article_menu:last-child {
    margin-right: 0px;
  }
  
  .link_category_article {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #b59f5b;
    font-weight: 700;
    font-family: Open Sans Bold, Arial, Helvetica, sans-serif;  
  }
  
  .link_article {
    text-decoration: none;
    color: #0f0d0e;
  }
  
  .title_article {
  text-transform: uppercase;
  font-size: 20px;
  color: #0f0d0e;
  font-weight: 700;
  font-family: Open Sans Bold, Arial, Helvetica, sans-serif;
    
  margin-top: 15px;
  margin-bottom: 36px;
  }
  
  @media (max-width: 640px) {
    .title_article {
      font-size: 16px;
      margin-bottom: 24px;
    }
  }

  .date_author {
    display: flex;
    margin-bottom: 53px;  
  }

  @media (max-width: 640px) {
    .date_author {
      margin-bottom: 24px;
    }
  }
  
  .date {
    font-size: 12px;
    color: #888888;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    
    margin-right: 14px;
  }
  
  .author {
    font-size: 12px;
    font-weight: 700;
    font-family: Open Sans Bold, Arial, Helvetica, sans-serif;  
  }
  
  .text_article_preview {
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
  }
  
  @media (max-width: 640px) {
    .text_article_preview {
      font-size: 14px;
    }
  }
  .paragrapth_preview {
    margin-bottom: 22px;
  }
  
  .paragrapth_preview:last-child {
    margin-bottom: 0px;
  }
  
  .right_column {
    width: 270px;
  }
  
  @media (max-width: 640px) {
    .right_column {
      margin-left: 15px;
      margin-right: 15px;
      margin-top: 44px;
      width: auto;
    }
  }

  .title_block_right_column {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    font-family: Open Sans Bold, Arial, Helvetica, sans-serif;
    color: #0f0d0e;
    text-align: center;
  }
  
  .title_block_right_column::after {
    content: "";
    display: block;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    margin: 14px auto 24px auto;  
  }

  .list_small_card {
    list-style: none;
  }
  
  .preview_small_card {
    display: flex;
    margin-bottom: 20px;
  }
  
  .preview_small_card:last-child {
    margin-bottom: 0px;
  }
  
  .small_preview_img {
    width: 70px;
    margin-right: 20px;
  }
  
  .small_card_date {
    font-size: 12px;
    color: #888888;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
  
    margin-bottom: 10px;
  }
  
  .title_small_card {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    font-family: Open Sans Bold, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
  }
  
  .title_small_link {
    text-decoration: none;
    color: #000000;
  }
  
  .search_block {
    margin-top: 60px;
  }
    
  .visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
  } 

  .search {
    display: flex;
    margin: 0px;
  }

  @media (max-width: 640px) {
    .search {
      justify-content: center;
    }
  }
  
  .field_search {
    font-size: 13px;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    /*opacity: 0.54;*/
    padding-left: 20px;
    height: 48px;
    width: 223px;
    margin: 0px;
    background-color: #f4f7f6;
    border: none;
  }
    
  .button {
    width: 48px;
    
    background-color: #b59f5b;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    
    border: none;
    cursor: pointer;
  }
  
  .subscribe {
    margin-top: 60px;
    margin-bottom: 60px;  
  }
  
  .subscribe_form {
    padding: 0px; 
    
  }
  
  .email_input {
    display: block;
    width: 271px;
    height: 48px;
    border: none;
    padding-left: 20px;
    padding-right: 10px;
    background-color: #f4f7f6;
  }

  @media (max-width: 640px) {
    .email_input {
      margin-right: auto;
      margin-left: auto;
    }
  }
  
  .button_subscribe {
    display: block;
    width: 271px;
    height: 48px;
    background-color: #b59f5b;
    border: none;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Open Sans Bold, Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin-bottom: 0px;
    margin-top: 18px;
  }

  @media (max-width: 640px) {
    .button_subscribe {
      margin-right: auto;
      margin-left: auto;
    }
  }
  
  .block_tags {
    margin-bottom: 54px;
  }
  
  .list_tags {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  .item_tag {
    font-size: 12px;
    font-weight: 700;
    font-family: Open Sans Bold, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
  
    border: 3px solid #eeeeee;
    padding: 7px;
    margin-right: 6px;
    margin-bottom: 6px;
  }
  
  .link_tag {
    text-decoration: none;
    color: #0f0d0e;
  }
  
  .list_topic {
    list-style: none;
  }
 
  .item_topic {
    font-size: 14px;
    font-weight: 700;
    font-family: Open Sans Bold, Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .item_topic::after {
    content: "";
    display: block;
    width: 271px;
    height: 1px;
    background-color: #eeeeee;
    margin: 14px auto 14px auto;  
  }
  
  @media (max-width: 640px) {
    .item_topic::after {
      margin: 14px 0px 14px 0px;
    }
  }

  .link_topic {
    text-decoration: none;
    color: #000000;
  }
  
  .number_topics {
    font-size: 12px;
    color: #b59f5b;
    font-weight: 700;
    font-family: Open Sans Bold, Arial, Helvetica, sans-serif;
    vertical-align: super;
  }
  
  .footer {
    margin-top: 64px;
    margin-bottom: 40px;
  }
  
  @media (min-width: 641px) and (max-width: 1200px) {
    .footer {
      margin-left: 34px;
      margin-right: 34px;
    }
  }

  .block_social_link {
    max-width: 1170px;
    background-color: #f4f7f6;
    padding: 30px 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    
  }
  
  @media (max-width: 640px) {
    .block_social_link {
      margin-right: 14px;
      margin-left: 14px;
      
    }
  }
  
  .list_socials {
    display: flex;
    justify-content: center;
    list-style: none;  
  }
  
  .item_socials {
    margin-right: 30px;
  }
  
  .item_socials:last-child {
    margin-right: 0px;
  }
  
  .socials_link {
    display: block;
    width:20px;
    height:20px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    
  }
  
  .socials_link_twitter {
    background-image: url("../svg/004-twitter.svg");
  }
  
  .socials_link_pinterest {
    background-image: url("../svg/001-pinterest.svg");
  }
  
  .socials_link_facebook {
    background-image: url("../svg/002-facebook-logo.svg");
  }
  
  .socials_link_instagram {
    background-image: url("../svg/005-instagram.svg");
  }
  
  .socials_link_tumblr {
    background-image: url("../svg/003-tumblr.svg");
  }
  
  .socials-link-text {
    position:absolute;
    width:1px;
    height:1px;
    clip:rect(1px,1px,1px,1px);
  }
  
  .copyright {
    font-family: Open Sans Bold, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
  }
  
  .link_copyright {
    text-decoration: none;
    color: #999999;
  }
  
  .section_trends {
   /* width: 100%;
    max-width: 1600px;

    margin-right: auto;
    margin-left: auto;*/
    margin-top: 57px;
  }
 
  .title_section {
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    color: #0f0d0e;
    font-weight: 700;
    font-family: Open Sans Bold, Arial, Helvetica, sans-serif;
    
  }
  
  @media (min-width: 641px) and (max-width: 1200px)
  {
    .title_section {
      font-size: 18px;
    }
  
  }

  @media (max-width: 640px) {
    .title_section {
      font-size: 16px;
    }
  }

  .title_section::after {
    content: "";
    display: block;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    margin: 14px auto 24px auto;
  }

  .trends_card_container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  @media (max-width: 640px) and (orientation: portrait) {
    .trends_card_container {
     flex-direction: column;
    }
  }
  
  .trend_card_1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 25%;
    min-height: 318px;
    /*flex-grow: 1;*/
        
    background-image: url(../images/trend1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #eff6f1;
  
    margin-right: 4px;  
    padding-bottom: 15px;
    padding: 15px;
   
    position: relative;  
    z-index: 0;   
  }

  .trend_card_1:after {    
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.45;
    z-index: -1;
  }

  .trend_card_2 {
    display: flex;
    align-items: flex-end;
    width: 25%;
    min-height: 318px;
    /*flex-grow: 1;*/
    
   
    
    background-image: url(../images/trend2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #eff6f1;
  
    margin-right: 4px;  
    padding: 15px;

    position: relative;  
    z-index: 0;   
  }

  .trend_card_2:after {    
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.45;
    z-index: -1;
  }

  .trend_card_3 {
    display: flex;
    align-items: flex-end;
    width: 25%;
    min-height: 318px;
    /*flex-grow: 1;*/   
    
    background-image: url(../images/trend3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #eff6f1;
  
    margin-right: 4px;  
    padding: 15px;

    position: relative;  
    z-index: 0;   
  }

  .trend_card_3:after {    
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.45;
    z-index: -1;
  }
  
  .trend_card_4 {
    display: flex;
    align-items: flex-end;
    width: 25%;
    min-height: 318px;
    /*flex-grow: 1;*/    
    
    background-image: url(../images/trend4.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #eff6f1;
  
    margin-right: 0px;  
    padding: 15px;

    position: relative;  
    z-index: 0;   
  }

  .trend_card_4:after {    
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.45;
    z-index: -1;
  }

  @media (min-width: 641px) and (max-width: 1200px) and (orientation: portrait), (max-width: 640px) and (orientation: landscape){
    .trend_card_1, .trend_card_2, .trend_card_3, .trend_card_4  {
      width: 49.5%;
    }

    .trend_card_1, .trend_card_3 {
     margin-left: 0px;
     margin-right: 1%;    
    }

    .trend_card_2, .trend_card_4 {
      margin-left: 0px;
      margin-right: 0px;     
     }

     .trend_card_1, .trend_card_2 {
      margin-bottom: 1%;           
     }

     .trends_card_container {
      flex-wrap: wrap;
      justify-content: space-between;
     }  
  }

  @media (max-width: 640px) and (orientation: portrait) {
    .trend_card_1, .trend_card_2, .trend_card_3, .trend_card_4 {
      width: 100%;
    }
   
    .trend_card_1, .trend_card_2, .trend_card_3 {
      margin-bottom: 3px;
    }

  }
  
  .preview_trend_card {    
    border: 3px solid #b59f5b;
    padding: 30px;
    width: 100%;
    
  }

  .title_trend_card {
    text-transform: uppercase;
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    font-family: Open Sans Bold, Arial, Helvetica, sans-serif;
    width: 100%;
  
    margin-top: 15px;
  }

  @media (max-width: 640px) {
    .title_trend_card {
      font-size: 16px;
    }
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    .title_trend_card, .title_article {
      font-size: 17px;
    }
  }

  .link_trend_card {
    text-decoration: none;
    color: #ffffff;
  }

  .section_our_products {
    margin-top: 64px;
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    .section_our_products {
      margin-left: 34px;
      margin-right: 34px;
    }
  }

  @media (max-width: 640px) {
    .section_our_products {
      margin-right: 14px;
      margin-left: 14px;
      margin-top: 43px;
    }
  }

  .product_cards_container {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;
    justify-content: space-between;
    
  }

  .product_card_1 {
    width: 29.66%;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .product_card_2 {
    width: 29.66%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin-right: 65px;*/

  }
  .product_card_3 {
    width: 29.66%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: 641px) and (max-width: 1200px) {    
    .product_card_1, .product_card_2, .product_card_3 {
      width: 48.5%;
    }

    .product_cards_container {
      flex-wrap: wrap;
    }

  }

  @media (max-width: 640px) {
    .product_cards_container {
      flex-direction: column;
    }

    .product_card_1, .product_card_2, .product_card_3 {
      width: 100%;
    }
  }

  .card_img {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
   
  .product_info {
    border: 3px solid #b59f5b;
    padding: 53px 23px 53px 23px;
    position: relative;
    bottom: 30px;
    flex-grow: 1;     
  }  

  .product_card_title {
    text-transform: uppercase;
    font-size: 20px;
    color: #0f0d0e;
    font-weight: 700;
    font-family: Open Sans Bold, Arial, Helvetica, sans-serif;       
  }

  .link_info {
    text-decoration: none;
    color: #b59f5b;
  }

  .product_footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 24px;
}

.product_price_old {
  text-decoration: line-through;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 700;
  color: #0f0d0e;
  font-family: Open Sans Bold, Arial, Helvetica, sans-serif;
  line-height: 1;
  display: flex;
}

.product_price {
  font-size: 20px;
  font-weight: 700;
  color: #0f0d0e;
  font-family: Open Sans Bold, Arial, Helvetica, sans-serif;
  line-height: 1;
  display: flex;
}

.product_rub {
  margin-left: .2em;
}

.product_button {
  border: none;
  background-color: #b59f5b;
  padding: .6em 1.8em;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #ffffff;
}

.link_to_shop {
  text-decoration: none;
  color:  #ffffff;
}

.popup {
  display: none; /*заменить на flex*/
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  z-index: 1;  
}

@media (max-width: 640px) {
  .popup {
    margin-right: auto;
    margin-left: auto;
  }
}

.popup_container {
  max-width: 390px;
  width: 95%;
  margin: auto;
  background-color: #ffffff;
  position: relative;
}

@media (max-width: 640px) {
  .popup_container {
    max-width: 330px;
    margin-left: 14px;
    margin-right: 14px;
    
  }
}

.feedback {
  max-width: 390px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
  color: #222;
}

.feedback_content {
  font-size: 13px;
  color: #000000;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  margin-top: 14px;
  margin-left: 30px;
  margin-right: 30px;
  
}

.select {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  
  padding-left: 20px;
  padding-right: 15px;
  
  margin: 10px 0 0 0;
  
  border: none;
  background-color: #f9f9f9;
    
  
  color: #5c5b5b;
  
  -moz-appearance: none;
  -webkit-appearance: none;
  
  background-image: url("../svg/form-arrows.svg");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: right 5px center;
}

.select:focus {
  border: 1px solid #b59f5b;
}

.second_question {
  margin-top: 30px;
  
}



.radio_button {
  margin-top: 10px;
}

.yes {
  display: none;
}

.button_yes::before  {
  margin-right: 3px;
  
  content: "";
  
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 17px;
  
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 17px;
}

.yes:checked + .button_yes::before {
  /*margin-right: 3px;
  margin-left: 15px;*/
  
  content: "";
  
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 17px;
  
  background-image: url("../svg/form-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 17px;
}

.no:checked + .button_no::before {
  content: "";
  
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 17px;
  
  background-image: url("../svg/form-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 17px;
}

.button_no::before {
  margin-right: 3px;
  margin-left: 15px;
  
  content: "";
  
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 17px;
  
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 17px;
}


.no {
  
  display: none;

}

.third_question {
  margin-top: 30px;
}

.name_third_question {
  display: block;
  margin-bottom: 10px;
}

.tell_about {
  display: block;
  width: 100%;
  height: 130px;
  resize: none;
  border: none;
  background-color: #f9f9f9;
  padding: 20px;
  font-size: 13px;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  
}

.tell_about:focus {
  border: 1px solid #b59f5b;
}

.button_send {
   display: block;
    width: 100%;
    height: 50px;
    background-color: #b59f5b;
    border: none;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Open Sans Bold, Arial, Helvetica, sans-serif;
    cursor: pointer;
   
    margin-top: 25px;
}



.popup_close::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-image: url(../svg/form-x.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    width: 20px;
    height: 20px;
  
    position: absolute;
    top: -30px;
    right: 0;  
}

.burger {
  width: 1.4em;
  height: 1em;
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 25px;
  position: relative;
  text-indent: -9999px;
  cursor: pointer;
}

.burger:before {
  content: "";
  width: 100%;
  height: 20%;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
}

.burger_label {
  width: 100%;
  height: 20%;
  margin-top: -0.1em;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 50%;
}

.burger:after {
  content: "";
  width: 100%;
  height: 20%;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
}

@media (min-width: 1201px) {
  .burger {
    display: none;
  }
}